@charset "UTF-8";

@media screen and (min-width: 768px) {
    #mostrar-menu{
        display: none;
    }
    .linke {
        margin-right: 50px;
        text-align: center;
    }
    .containerPai{
        display: flex;
        flex-direction: column;
    }
    .containerPai:nth-child(1){
        justify-content: flex-start;
    }
         
}

@media screen and (max-width: 768px) {
    nav > a{
        display: block;
    }
}

