@charset "UTF-8";

@media screen and (max-width: 768px) {
    nav > a{
        display: block;
    }
}

@media screen and (min-width: 768px) {
    #mostrar-menu{
        display: none;
    }
    .linke {
        margin-right: 50px;
        text-align: center;
    }
    
}